<div class="top-wrapper">
  <div class="top-inner-text">
    <h1>Study-keeper</h1>
    <p>あなたの行動を記録して振り返りをサポート<br>あなた専用の勉強トラッカー</p>
  </div>
  <div class="top-button">
    <%= link_to "今すぐ始める", "#", class: "start-btn" %>

    <p class="login-link">
      登録済みの方は
      <%= link_to "こちらからログイン", "#" %>
    </p>
  </div>
</div>
