version: "3.9"
services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: study_user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: study_keeper_development
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
  
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - ".:/app"
    ports:
      - "3000:3000"
    depends_on:
      - db
    command: bash -c "rm -f tmp/pids/server.pid && bin/rails server -b 0.0.0.0"

volumes:
  db_data:

