<% flash.each do |key, message| %>
  <% next if message.blank? %>

  <% bootstrap_class =
      case key.to_sym
      when :notice then "alert alert-success"
      when :alert  then "alert alert-danger"
      else "alert alert-info"
      end %>

  <div class="<%= bootstrap_class %>" data-turbo-cache="false">
    <%= message.html_safe %>
  </div>
<% end %>